* {box-sizing: border-box;}

#nav {
  background-color: #ff6600;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#content {
  position: relative;
  top: 78px;
  padding: 15px;
}

.container {
  width: 800px;
  margin: 0 auto;
}


#content > .container > div{
  padding: 78px 0;
}

.menu {
  float: right;
}

.menu li {
  list-style-type: none;
  background-color: #ff6600; 
  width: 150px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
}

li:hover {
  background-color: #fff ;
}

li:hover a {
  color: #ff6600 ;
  font-weight: 800 ;
}

#my-avatar {
  float: left;
  margin-right: 20px;
}

#my-avatar img {
  width: 400px;
}

h1 {
  margin-bottom: 0px;
  text-align: center;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}

#my-work-gallery {
    text-align: center;
}

h3 {
  margin: 0px;
}

table {
  font-size: 14px ;
  text-align: left;
}

th, td {
  vertical-align: top;
}

td {
  color: #666;
  padding-left: 10px;
}


/* my work */
.item {
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-bottom: 10px;
}

.item img{
  width: 100%
}

.item-info {
  background-color: rgba(225,225,225,0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 10px;
  opacity: 0;
}

.item-info:hover {
  opacity: 1;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 15px;
}

.form-row input, .form-row textarea {
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
}

.form-row textarea {
  resize: none;
  height: 4em;
}

.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button[type="submit"] {
  background-color: #5995da;
  color: #ffffff
}

.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
 background-color: #407fc7; 
}

@media screen and (max-width: 1023px) {
  .container {
    width: auto;
  }
}